.head {
    background-color: #333;
}

nav h1 {
    opacity: 0.6;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

input[type=text] {
    width: 100%;
    width: 500px;
    padding: 8px 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: antiquewhite;
    border-radius: 13px 13px 13px 13px;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
}

input[type=date] {
    width: 100%;
    width: 500px;
    padding: 8px 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: antiquewhite;
    border-radius: 13px 13px 13px 13px;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
}

input[type=text]:focus {
    background-color: #e9d8f4;
}

.input {
    width: 505px;
    margin: auto;
}

button[type=submit] {
    width: 100%;
    width: 500px;
    background-color: #58257b;
    color: white;
    padding: 9px 9px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 0px solid black;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
    border-radius: 13px 13px 13px 13px;
}

.submit {
    margin-left: 500px;
}