.head {
    background-color: #333;
}

nav h1 {
    opacity: 0.6;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

input[type=text] {
    margin-left: 10px;
    margin-bottom: 6px;
    margin-top: 10px;
    width: 160px;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: antiquewhite;
    border-radius: 13px 0px 0px 13px;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
    margin-left: 1250px;
}

input[type="text"]:focus {
    width: 200px;
}

button[type=submit] {
    width: 60px;
    box-sizing: border-box;
    border: 0px solid black;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
    background-color: aliceblue;
    border-radius: 0px 13px 13px 0px;
}